body {
background-color:#0B3934;
color: #D9DBF1;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, p {
    text-align: center;
}

a:link {
color: #8C9FAB;
background-color: transparent;
text-decoration: none;
}

a:visited {
color: #8C9FAB;
background-color: transparent;
text-decoration: none;
}

figure {
    text-align: center; 
}
img {
    width: 400px;
}

header, footer {
    text-align: center;
}

table tr:nth-child(odd){
    background-color:ghostwhite;
    color: black;

}
table, th, td, tr{
    border: 1.5px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 1px 4px 1px 4px;
}

ol {
    margin-left: auto;
    margin-right: auto;
}
/*FORMS*/
form {
    padding: 10px;
}

.divider {
    border: 7px double;
    background-color: #B3BDCE;
    color: #254E4C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.reset,
.submit {
    background-color: #254E4C;
    border: 3px double;
    color: #B3BDCE;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.reviewer {
    text-align: center;
}

/* First Scripts */
.buttons {
    padding: 20px;
}
.fbuttons {

    background-color: #728A93;
    }

/* Remove Initial */
html {
    all:initial;
}
/* Foundational Three */
main, .maincontainer {
    margin-left: 30%;
    margin-right: 30%;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

/* MOBILE QUERIES */
@media screen and (min-width: 981px) and (max-width: 1400px) {


}

@media screen and (min-width: 601px) and (max-width: 980px) {


}

@media screen and (min-width: 370px) and (max-width: 600px) {

}
