<a href="https://www.etsy.com/shop/oneonefourstationary/?etsrc=sdt"><img src="images/etsy.png" width="45"></a>
<p class="design">Designed by <a href="/itis3135/kumarenterprises.co/">Kumar Enterprises</a> &copy;2024</p>
<a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
    </a>
<a href="https://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:81px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
</a>
<a href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/akumar39/itis3135/hobby" id="validation_link_wcag">
    <img style="border:0;width:88px;height:31px" src="images/wcag.png" alt="Valid WCAG!">
</a>
