<div class="header-container">
<img
class="nav-logo"
src="images/oneonefour.png"
width="100"
height="auto"
>
<h1>OneOneFour Stationary</h1>
</div>
<nav class="navbar">
    <ul class="nav-menu">
        <li class="nav-header">
            <a href="./">Home</a>
        </li>
        <li class="nav-header">
            <a href="posters.html">Posters & Invitations</a>
        </li>
        <li class="nav-header">
            <a href="journals.html">Journals & Notebooks</a>
        </li>
        <li class="nav-header">
            <a href="planners.html">Planners</a>
        </li>
        <li class="nav-header">
            <a href="inquiries.html">Inquiries</a>
        </li>
    </ul>
</nav>
